<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('./partials/head') %>
        <title>Registro</title>
</head>

<body>
    <%- include ('./partials/navbar') %>
        <main>
            <form action="/auth" method='POST'>
                <div class="registro-container">
                    <h2>Registro de Usuario</h2>
                    <div>
                        <label for="username">Un nombre de usuario que no sea feo:</label>
                        <br>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label for="email">Tu correo electrónico más molon:</label>
                        <br>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">Pon tu contraseña más segura:</label>
                        <br>
                        <input type="password" id="password" name="password" required>
                    </div>
                        <button type="submit">Registrarse aqui, en este botón</button>
                    </div>
                </div>
            </form>
        </main>
</body>

</html>
