<header>
    <h1>GRAN TITULO</h1>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            <li>
                <a href="/showUsers">Mostrar usuarios ingresados</a>
            </li>
        </ul>
    </nav>
</header>